@model budgetapp.Models.SpendingHabits

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SpendingHabits</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetIndicator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetIndicator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
