@model budgetapp.Models.WeeklyReport

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WeeklyReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeeklyIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeeklyIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeeklyBudget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeeklyBudget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
